; Sample rabbitmqadmin.conf. This is .ini style config.
;
; This will need to be updated to reference a client certificate that is signed
; by the same CA as the server. You'll need to copy this to
; ~/.rabbitmqadmin.conf, or specify it using rabbitmqadmin -c
;
; Change [HOSTNAME] to match the hostname of the server for this to work

[default]
hostname = localhost
port = 15672
username = admin
password = admin
ssl = True
ssl_key_file = /etc/rabbitmq/ssl/server/[HOSTNAME].key.pem
ssl_cert_file = /etc/rabbitmq/ssl/server/[HOSTNAME].cert.pem
