[Unit]
Description=Postgres
After=docker.service
Requires=docker.service

[Service]
Restart=always
User=core
ExecStart=/bin/docker start -a postgres
ExecStop=/bin/docker stop -t 2 postgres

[Install]
WantedBy=multi-user.target
