[Unit]
Description=Redis
After=docker.service
Requires=docker.service

[Service]
Restart=always
User=core
ExecStart=/bin/docker start -a redis
ExecStop=/bin/docker stop -t 2 redis

[Install]
WantedBy=multi-user.target
